{{ 'custom-pdp-style.css' | asset_url | stylesheet_tag }}

<div class="custom-pdp-style">
    <table>
        <thead>
            <tr>
                <th class="th-sku">SKU</th>
                <th class="th-price">Price</th>
                <th class="th-quantity">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for variant in product.variants %}
                <tr>
                    <td class="td-text">{{ variant.sku }}</td>
                    <td class="td-text">{{ variant.price | money }}</td>
                    <td class="td-quantity {% if variant.inventory_quantity == 0 %}disabled{% endif %}"><input type="text" {% if variant.inventory_quantity == 0 %}disabled{% endif %} data-id="{{ variant.id }}" available-quantity="{{ variant.inventory_quantity }}" title="{{ variant.title }}"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% assign total_inventory = 0 %}

    {% for variant in product.variants %}
        {% assign total_inventory = total_inventory | plus: variant.inventory_quantity %}
    {% endfor %}

    <button class="btn-add-cart {% if total_inventory == 0 %}disabled{% endif %}">
        {%- if total_inventory > 0 -%}            
            {{ 'products.product.add_to_cart' | t }}
        {%- else -%}
            {{ 'products.product.sold_out' | t }}
        {%- endif -%}
    </button>
    <div class="not-enough-stock"></div>
</div>