<div class="variant-metafield">
    {% for variant in product.variants %}
        <div data-title="{{ variant.title }}" class="metafield-table hidden">
            <table>
                <tbody>
                    {%- if variant.metafields.custom.information_dimensions != blank -%}
                        <tr>
                            <td>Size</td>
                            <td>{{ variant.metafields.custom.information_dimensions.value.size.value }}</td>
                        </tr>  
                        <tr>
                            <td>Width</td>
                            <td>{{ variant.metafields.custom.information_dimensions.value.width.value }}</td>
                        </tr>  
                        <tr>
                            <td>Height</td>
                            <td>{{ variant.metafields.custom.information_dimensions.value.height.value }}</td>
                        </tr>  
                        <tr>
                            <td>Depth</td>
                            <td>{{ variant.metafields.custom.information_dimensions.value.depth.value }}</td>
                        </tr>     
                    {%- endif -%}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>

{% style %}
.metafield-table table {
    width: 100%;
    border-radius: 5px;
}
{% endstyle %}

<script>
    $(document).ready(function(){
        var checked_variant = $("variant-selects fieldset input[checked]").attr('value');
        $(`.variant-metafield .metafield-table[data-title=${checked_variant}]`).removeClass("hidden");
        $("variant-selects fieldset label").on("click", function(){
            var clicked_variant = $(`variant-selects fieldset input[id='${$(this).attr('for')}']`).attr('value');
            $(`.variant-metafield .metafield-table`).addClass("hidden");
            $(`.variant-metafield .metafield-table[data-title=${clicked_variant}]`).removeClass("hidden");
        })
    })
</script>